<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.css"/>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.min.js"></script>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
    <%= render partial: 'spree/shared/google_analytics.js' %>
    <%#= render partial: 'spree/shared/header' %>

    <!-- <div class="container">
      <div class="row" data-hook> -->
        <%= breadcrumbs(@taxon) %>

        <%#= render partial: 'spree/shared/sidebar' if content_for? :sidebar %>

        <div id="content" class="<%= !content_for?(:sidebar) ? "col-sm-12" : "col-sm-8 col-md-9" %>" data-hook>
          <%= flash_messages %>

          <!-- Render shopping cart on all pages -->
          <% if params[:action] == "index" || params[:action] == "show" && params[:controller] == "spree/products" %>
            <div id="cart" class="desktop">
              <div id="cart-container" class="desktop">
                <%= render 'spree/home/custom_cart' %>
                <% if @order.present? %>
                <form action="/checkout">
                  <button type="submit">Check Out | <%= number_to_currency(@order.item_total) %></button>
                </form>
                <% end %>
              </div>
            </div>
          <% elsif params %>
          <div id="checkout-cart">
            <div id="cart-container" class="desktop">
              <%= render 'spree/home/custom_cart' %>
                <% if @order.present? && @order.state != 'confirm' %>
                <div id="checkout-summary" data-hook="checkout_summary_box" class="col-md-3">
                  <%= render partial: 'spree/checkout/summary', locals: { order: @order } %>
                </div>
              <% end %>
            </div>
          </div>
          <% end %>

          <%= yield %>
        </div>
        <%= yield :templates %>
      <!-- </div>
    </div> -->
  </body>
</html>