<% @body_id = 'checkout-body' %>
<% content_for :google_analytics do %>
  <% if order_just_completed?(@order) %>
    <%= render partial: 'spree/shared/google_purchase.js', locals: { order: @order } %>
  <% end %>
<% end %>

<h2 class="mobile-only">Thank You!</h2>

<div id="cart-item-container" data-hook="cart_container" class="mobile-only">
  <% if @order.present? %>
    <div data-hook="outside_cart_form">
      <%= form_for @order, url: update_cart_path, html: { id: 'update-cart' } do |order_form| %>
        <div data-hook="inside_cart_form">

          <div data-hook="cart_items" class="table-responsive">
            <%= render partial: 'spree/orders/form', locals: { order_form: order_form } %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div id="checkout-summary" data-hook="checkout_summary_box" class="mobile-only">
  <%= render partial: 'spree/checkout/summary', locals: { order: @order } %>
</div>

<fieldset id="order_summary" data-hook>
  <!-- <legend><%#= Spree.t(:order_number, number: @order.number) %></legend> -->
  <!-- <h1><%#= accurate_title %></h1> -->
  <%# if order_just_completed?(@order) %>
    <h2 class="desktop">Thank You!</h2>
    <h5>Your Order Number:</h5>
    <p><%= @order.number %></p>
    <!-- <strong><%#= Spree.t(:thank_you_for_your_order) %></strong> -->
  <%# end %>

  <div id="order" data-hook>
    <%= render partial: 'spree/shared/order_details', locals: { order: @order } %>
    <p class="desktop">For questions and help email us: <span><a href="mailto:hello@thesettingnyc.com">hello@thesettingnyc.com</a></span></p>
    <br class="clear" />

    <p class="journal-link" data-hook="links">
      <%= link_to 'Read The Journal', 'http://journal.thesettingnyc.com', class: "button" %>
      <%#= link_to 'Spree.t(:back_to_store)', spree.root_path, class: "button" %>
<!--       <%# unless order_just_completed?(@order) %>
        <%# if try_spree_current_user && respond_to?(:spree_account_path) %>
          <%#= link_to Spree.t(:my_account), spree_account_path, class: "button" %>
        <%# end %>
      <%# end %> -->
    </p>
  </div>
</fieldset>

<%= render 'spree/home/checkout_footer' %>