<table style="width: 100%">
  <tr style="font-family:Garamond, Baskerville, 'Times New Roman', serif;">
    <td align="center">
        <!-- <td><img src="https://www.thesettingnyc.com/images/the_setting_logo.png" alt=""></td> -->
        <img style="width:100px !important; float:none !important; margin:0 auto; padding-bottom: 40px" src="http://i.imgur.com/rjDWT1w.png?1" alt="The Setting">
        <p class="lede" style="text-align:center; font-size:24px; font-style:italic; font-wieght:bold; font-family:Garamond, Baskerville, 'Times New Roman', serif;">
          Your Order is on its way!
        </p>
        <br>
        <p style="text-align:center; font-family:Garamond, Baskerville, 'Times New Roman', serif; font-size:16px">
          We packed and shipped your order today. It should be arriving soon.
        </p>
        <br>
      <table style="width: 70%;margin: 0 auto;">
        <tr>
          <td><p style="font-family:Garamond, Baskerville, 'Times New Roman', serif;font-size:16px"><%= Spree.t('order_mailer.confirm_email.order_summary') %></p></td>
          <td></td>
          <td style="text-align:right"><p style="font-family:Garamond, Baskerville, 'Times New Roman', serif;text-align:right;font-size:16px">Order Number: <%= @shipment.order.number %></p></td>
        </tr>
        <% @shipment.line_items.each do |item| %>
          <tr>
            <td><p style="font-family:Garamond, Baskerville, 'Times New Roman', serif;"><%= raw(item.variant.product.name) %></p></td>
            <td></td>
            <td style="text-align:right;"><p style="font-family:Garamond, Baskerville, 'Times New Roman', serif;text-align:right;font-size:16px">(<%=item.quantity%>) @ <%= item.single_money %> = <%= item.display_amount %></p></td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td></td>
          <td style="text-align:right">
            <p style="font-family:Garamond, Baskerville, 'Times New Roman', serif;text-align:right;font-size:16px"><%= Spree.t('order_mailer.confirm_email.subtotal') %> <%= @shipment.order.display_item_total %></p>
          </td>
        </tr>
        <% if @shipment.order.line_item_adjustments.exists? %>
          <% if @shipment.order.all_adjustments.promotion.eligible.exists? %>
            <% @shipment.order.all_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
              <tr>
                <td></td>
                <td></td>
                <td style="text-align:right"><p style="font-family:Garamond, Baskerville, 'Times New Roman', serif;text-align:right;font-size:16px"><%= Spree.t(:promotion) %> <%= label %>: <%= Spree::Money.new(adjustments.sum(&:amount), currency: @shipment.order.currency) %></p></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
        <% @shipment.order.shipments.group_by { |s| s.selected_shipping_rate.try(:name) }.each do |name, shipments| %>
          <tr>
            <td></td>
            <td></td>
            <td style="text-align:right"><p style="font-family:Garamond, Baskerville, 'Times New Roman', serif; text-align:right;font-size:16px"><%= Spree.t(:shipping) %> <%= name %>: <%= Spree::Money.new(shipments.sum(&:discounted_cost), currency: @shipment.order.currency) %></p></td>
          </tr>
        <% end %>
        <% if @shipment.order.all_adjustments.eligible.tax.exists? %>
          <% @shipment.order.all_adjustments.eligible.tax.group_by(&:label).each do |label, adjustments| %>
            <tr>
              <td></td>
              <td></td>
              <td style="text-align:right"><p style="font-family:Garamond, Baskerville, 'Times New Roman', serif; text-align:right;font-size:16px"><%= Spree.t(:tax) %> <%= label %>: <%= Spree::Money.new(adjustments.sum(&:amount), currency: @shipment.order.currency) %></p></td>
            </tr>
          <% end %>
        <% end %>
        <% @shipment.order.adjustments.eligible.each do |adjustment| %>
          <% next if (adjustment.source_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
          <tr>
            <td></td>
            <td></td>
            <td style="text-align:right"><p style="font-family:Garamond, Baskerville, 'Times New Roman', serif;text-align:right;font-size:16px"><%= adjustment.label %>: <%= adjustment.display_amount %></p></td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td></td>
          <td style="text-align:right">
            <p style="font-family:Garamond, Baskerville, 'Times New Roman', serif; text-align:right;font-size:16px"><%= Spree.t('order_mailer.confirm_email.total') %> <%= @shipment.order.display_total %></p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
            </p>
          </td>
        </tr>
      </table>
      <p style="text-align:center; font-family:Garamond, Baskerville, 'Times New Roman', serif;font-size:16px;">
        <%= Spree.t('shipment_mailer.shipped_email.track_information', :tracking => @shipment.tracking)     if @shipment.tracking %>
      </p>
      <br>
      <p style="text-align:center; font-family:Garamond, Baskerville, 'Times New Roman', serif;font-size:16px;">
      <%= Spree.t('shipment_mailer.shipped_email.track_link',        :url      => @shipment.tracking_url) if @shipment.tracking_url %>
      </p>
      <br>
      <p style="text-align:center; font-family:Garamond, Baskerville, 'Times New Roman', serif;font-size:16px;">
        Sending you greetings and best wishes from The Setting.
      </p>
      <br>
      <p style="font-style:italic; text-align:center; font-family:Garamond, Baskerville, 'Times New Roman', serif;font-size:16px;">
        xx The Setting
      </p>
    </td>
    <!-- <td class="expander"></td> -->
  </tr>
</table>