<div id="space-holder"></div>
<div id="email-catch-space-holder"></div>

<%= render 'header' %>
<div id="splash-background" style="background-image: url(<%= @ss.banner_image.url %>);"></div>
<div id="main-container">

  <section id="splash">
    <div class="splash-text centered subtext">
      <p><%= raw @ss.intro_text %></p>
    </div>
    <div class="expand centered nav-link">
      <em><a id="collection-link" href="#products-section">→ Shop the Collection</a></em>
    </div>
  </section>

  <section id="press">
    <div class="logos">
      <a href="http://www.elle.com/culture/q-and-a/a30327/this-womans-work-amanda-shine/" target="_blank"><img src="https://s3.amazonaws.com/the-setting-staging.herokuapp.com/spree/general-images/press_elle.png"/></a>
      <a href="http://www.vogue.com/13287155/customized-ceramics-the-setting/" target="_blank"><img src="https://s3.amazonaws.com/the-setting-staging.herokuapp.com/spree/general-images/press_vogue.png"/></a>
      <a href="http://www.garancedore.fr/en/2015/07/31/made-by-hand/" target="_blank"><img src="https://s3.amazonaws.com/the-setting-staging.herokuapp.com/spree/general-images/press_cd.png"/></a>
      <a href="http://thechalkboardmag.com/in-the-studio-with-the-setting-nyc-amanda-shine" target="_blank"><img src="https://s3.amazonaws.com/the-setting-staging.herokuapp.com/spree/general-images/press_tc.png"/></a>
      <a href="http://www.instyle.com/news/the-setting-nyc-personalized-pottery" target="_blank"><img src="https://s3.amazonaws.com/the-setting-staging.herokuapp.com/spree/general-images/press_is.png"/></a>
    </div>
  </section>

  <section id="products-section">
    <h2 id="products-title">Shop</h2>
    <!-- <h5>tides collection: inspired by moon &amp; sea</h5> -->
    <div id="homepage-products" data-hook="homepage_products">
      <% cache(cache_key_for_products) do %>
        <%= render :partial => 'spree/shared/products', :locals => { :products => @products } %>
      <% end %>
    </div>
  </section>

  <section id="studio">
    <h2>Studio</h2>
    <div class="slickness">
      <div>
        <img src="https://s3.amazonaws.com/the-setting-staging.herokuapp.com/spree/general-images/studio-slide-01.jpg">
      </div>
      <div>
        <img src="https://s3.amazonaws.com/the-setting-staging.herokuapp.com/spree/general-images/studio-slide-02.jpg">
      </div>
      <div>
        <img src="https://s3.amazonaws.com/the-setting-staging.herokuapp.com/spree/general-images/studio-slide-03.jpg">
      </div>
      <div>
        <img src="https://s3.amazonaws.com/the-setting-staging.herokuapp.com/spree/general-images/studio-slide-04.jpg">
      </div>
      <div>
        <img src="https://s3.amazonaws.com/the-setting-staging.herokuapp.com/spree/general-images/studio-slide-05.jpg">
      </div>
      <div>
        <img src="https://s3.amazonaws.com/the-setting-staging.herokuapp.com/spree/general-images/studio-slide-06.jpg">
      </div>
      <div>
        <img src="https://s3.amazonaws.com/the-setting-staging.herokuapp.com/spree/general-images/studio-slide-07.jpg">
      </div>
      <div>
        <img src="https://s3.amazonaws.com/the-setting-staging.herokuapp.com/spree/general-images/studio-slide-08.jpg">
      </div>
    </div>
    <div id="studio-slider-count"><em><span class="pagingInfo"></span></em></div>
    <p class="subtext centered"><%= @ss.studio_caption %></p>
    <div class="expand centered">
      <em><a href="javascript:showInquiry()">→ Make an inquiry</a></em>
    </div>
  </section>

  <section id="inquiry" class="hidden">
    <div class="close-inquiry x-icon">×</div>
    <div class="form-container insert">
      <h2>Make an Inquiry</h2>
      <%= form_for Inquiry.new, url: "/inquiries" do |f| %>
      <%= f.text_field :name, placeholder: "Name", tabindex: "1" %>
      <%= f.text_field :email, placeholder: "Email", tabindex: "2" %>
      <%= f.text_field :datetime, placeholder: "Date + Time", tabindex: "3" %>
      <%= f.text_field :budget, placeholder: "Budget", tabindex: "4" %>
      <%= f.text_area :message, placeholder: "Message", tabindex: "5" %>
      <!-- Hidden field receives value trough user's selection in the dd dropdown menu -->
      <%= f.hidden_field :customer_type %>
      <div id="dd" class="wrapper-dropdown" tabindex="6">
        <span>Brand or Individual</span>
        <ul class="dropdown">
          <li><a href="javascript:void(0)">Brand</a></li>
          <li><a href="javascript:void(0)">Individual</a></li>
        </ul>
      </div>
      <%= f.submit %>
      <% end %>
    </div>
  </section>

  <section id="about">
    <h2>About</h2>
    <img src="<%= @ss.about_image.url %>" alt="about-image">
    <div class="expand centered">
      <em><%= @ss.about_caption %></em>
    </div>
    <div class="subtext">
      <p><%= @ss.about_text_left %></p>
      <p><%= @ss.about_text_right %></p>
    </div>
  </section>

  <section id="journal-promo">
    <div class="centered">
      <h2>Tabletop Living</h2>
      <div class="expand centered">
        <em><a href="http://journal.thesettingnyc.com">→ Read the Journal</a></em>
      </div>
    </div>
  </section>

  <section id="insta-feed">
    <a class="anchor" name="instagram-section"></a>
    <h2><a href="https://instagram.com/thesettingnyc/">@thesettingnyc</a></h2>
    <div id="insta-images-container">
      <% Instagram.images.each do |image| %>
        <%= image_tag image, class: 'insta-img' %>
      <% end %>
    </div>
<!--     <div class="expand centered">
      <em><a href="#">Show More</a></em>
    </div> -->
  </section>

</div> <!-- Closes Main Container div -->

<%= render 'footer' %>
