<div id="space-holder"></div>

<!-- <section id="cart">
  <div id="cart-container">
    <%#= render 'spree/home/custom_cart' %>
    <form action="/checkout">
      <button type="submit">Check Out | $59</button>
    </form>
  </div>
</section> -->
<%= render 'header' %>
<div id="splash-background"></div>
<div id="main-container">

  <section id="splash">
    <p class="splash-text centered">The Setting is a collection of handmade ceramic tableware inspired by the memories shared while entertaining friends and family at home. To us, there is nothing more important than spending time with the people who matter most and no better way to do so than over a beautifully created setting.</p>
    <div class="expand centered">
      <em><a href="#products-section">Shop the Collection</a></em>
    </div>
  </section>
  
  <section id="products-section">
    <h2 id="products-title">Tabletop</h2>
    <h5>Handmade in NYC</h5>
<!--     <div id="show-product">
      <div class="show-product-container insert">
        <div class="x"></div>
        <img class="show-product-image" src="/img/product-image-ph-4.jpg" alt="product-image">
        <div class="show-product-text">
          <h3>Custom Tea Cup</h3>
          <h4>$55</h4>
          <p>Approximately 3.5” x 3.5”.</p>
          <p>Handmade in New York City.<br>
          Hand wash recommended.<br>
          Made to order within 6 weeks.</p>
          <button>Add to cart</button>
        </div>
      </div>
    </div> -->
    <div data-hook="homepage_products">
      <% cache(cache_key_for_products) do %>
        <%= render :partial => 'spree/shared/products', :locals => { :products => @products } %>
      <% end %>
    </div>
  </section>

  <section id="studio">
    <img src="" alt="">
    <h2>Studio</h2>
    <div class="slider">
      <img src="img/studio-slide-1.jpg" alt="">
      <img src="img/studio-slide-2.jpg" alt="">
    </div>
    <p class="subtext">Our studio includes a test kitchen bustling with freshly baked goods and special fare for our private events, appointments, and spontaneous gatherings.</p>
    <div class="expand centered">
      <em><a href="javascript:showInquiry()">Make an inquiry</a></em>
    </div>
  </section>

  <section id="inquiry" class="hidden">
    <div class="close-inquiry x-icon">×</div>
    <div class="form-container insert">
      <h2>Make an Inquiry</h2>
      <%= form_for Inquiry.new, url: "/inquiries" do |f| %>
      <%= f.text_field :name, placeholder: "Name", tabindex: "1" %>
      <%= f.text_field :email, placeholder: "Email", tabindex: "2" %>
      <%= f.text_field :datetime, placeholder: "Date + Time", tabindex: "3" %>
      <%= f.text_field :budget, placeholder: "Budget", tabindex: "4" %>
      <%= f.text_area :message, placeholder: "Message", tabindex: "5" %>
      <!-- Hidden field receives value trough user's selection in the dd dropdown menu -->
      <%= f.hidden_field :customer_type %>
      <div id="dd" class="wrapper-dropdown" tabindex="6">
        <span>Brand or Individual</span>
        <ul class="dropdown">
          <li><a href="javascript:void(0)">Brand</a></li>
          <li><a href="javascript:void(0)">Individual</a></li>
        </ul>
      </div>
      <%= f.submit %>
      <% end %>
    </div>
  </section>

  <section id="insta-feed">
    <h2>@thesettingnyc</h2>
    <div id="insta-images-container">
      <% Instagram.images.each do |image| %>
        <%= image_tag image, class: 'insta-img' %>
      <% end %>
    </div>
    <div class="expand centered">
      <em><a href="#">Show More</a></em>
    </div>
  </section>

</div> <!-- Closes Main Container div -->
 
<%= render 'footer' %> 

<%# content_for :sidebar do %>
  <!-- <div data-hook="homepage_sidebar_navigation"> -->
    <%#= render :partial => 'spree/shared/taxonomies' %>
  <!-- </div> -->
<%# end %>
